

.img-full-top {
    object-fit: cover;
    object-position: top;
}

.img-full-center {
    object-fit: cover;
    object-position: center;
}

.img-full-bottom {
    object-fit: cover;
    object-position: bottom;
}


/*region list*/
.list-horizontal {
    padding: 25px 0px 15px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
    .list__item {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        cursor: pointer;
        margin-right: 20px;
        display: inline-block;
        position: relative;
        object-position: center;
        perspective: 2000px;
    }
        .list__item:first-child {
            margin-left: 40px;
        }
        .list__item:last-child {
            margin-right: 40px;
        }
    .list__item img, .list__item .description {
        transition: 0.8s;
        backface-visibility: hidden;
        border-radius: 20px;
        box-shadow: 2px 0 10px rgba(0,0,0,0.5);
    }
    .list__item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .list__item .description {
        padding: 30px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        text-align: center;
        white-space: normal;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: rotateY(180deg);
        background-size: 100% 100%;
    }
        .list__item:hover img {
            transform: rotateY(180deg);
        }
        .list__item:hover .description {
            transform: rotateY(360deg);
        }
/*end region*/


/*region table*/
.table-clear {
 border: 0;
}
/*end region*/
