$header_small_height: 85px;
$header_height: 110px;
$normal_font_size: 18px;
$mobile_font_size: 14px;

@font-face {
    font-family: 'lazurskiBoldItalic';
    src: url('../../fonts/874b83c55aa43f511d365c08f603ed86.woff') format("woff"),
         url('../../fonts/874b83c55aa43f511d365c08f603ed86.woff2') format('woff2'),
         url('../../fonts/lazurski-bold-italic.otf') format("opentype"),
         url('../../fonts/lazurski-bold-italic.ttf') format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

/*region SHARED*/
body {
    background-image: url('../../image/backgrounds/bg-2.png');
    height: 100vh;
    font-family: 'lazurskiBoldItalic';
    font-size: $normal_font_size;
    margin: 0px;
    @media (max-width: 576px) {
        font-size: $mobile_font_size;
    }
}

a, a:hover {
    color: black;
    text-decoration-line: none;
}

.section {
    padding: 25px 0;

    .section__title {
        padding: 0 40px;
        margin: 0;
    }
}

.modal-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background-color: rgb(4, 4, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

    img {
        object-fit: cover;
        object-position: center;
    }
}
.table-clear {
    border: 0;
}
/*end region*/


/*region HEADER*/
header {
    height: $header_small_height;
    padding: 10px 25px 0px 25px;
    background-color: white;
    box-shadow: 0 1px 7px rgba(3, 9, 4, 0.33);
    z-index: 2;

    @media (min-width: 992px) {
        height: $header_height;
    }

    .logo{
        background-image: url('../../image/logo/Project1_Logo_Vector.svg');
        background-size: cover;
        width: 200px;
        height: 100px;
        margin-top: -25px;
        margin-bottom: -20px;
    }

    nav {
        margin-bottom: 0;
        padding: 0;
        ul {
            height: 30px;
            margin-bottom: 0;
            li {
                margin-left: 30px;
                transition: all 0.3s;
                &:hover {
                    border-bottom: 2px solid darkgray;
                }
            }
        }
        
    }

    &.header-fixed{
        height: $header_small_height;
        padding: 10px 40px;
        box-shadow: 0 1px 7px rgba(3, 9, 4, 0.33);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1;
        opacity: 0;
        top: -45px;
        transition: all 1s;

        &.show {
            top: 0px;
            opacity: 1;
        }

        .logo {
            margin: 0;
        }
    }
}
/*end region*/


/*region STARTER*/
#abountCarousel {
    height: calc(100vh - #{$header_small_height});
    overflow: hidden;
    background-color: #3c3c3c;

    @media (min-width: 992px) {
        height: calc(100vh - #{$header_height});
    }
}

.img-full-top {
    object-fit: cover;
    object-position: top;
}

.img-full-center {
    object-fit: cover;
    object-position: center;
}

.img-full-bottom {
    object-fit: cover;
    object-position: bottom;
}
/*end region*/


/*region EVENTS*/
.list-horizontal {
    padding: 25px 0px 15px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    .list__item {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        cursor: pointer;
        margin-right: 20px;
        display: inline-block;
        position: relative;
        object-position: center;
        perspective: 2000px;

        &:first-child {
            margin-left: 40px;
        }
        &:last-child {
            margin-right: 40px;
        }
        &:hover img {
            transform: rotateY(180deg);
        }
        &:hover .description {
            transform: rotateY(360deg);
        }

        & img, & .description {
            transition: 0.8s;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            border-radius: 20px;
            box-shadow: 2px 0 10px rgba(0,0,0,0.5);
        }
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            background-image: url('../../image/loading/loading.svg');
            background-size: 100% 100%;
        }
        & .description {
            padding: 30px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            text-align: center;
            white-space: normal;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transform: rotateY(180deg);
            background-size: 100% 100%;
        }
    }
}
/*end region*/


/*region STARTER*/
#events {
    ::-webkit-scrollbar {
        width: 10px;
        padding: 0 20px;
    }
    ::-webkit-scrollbar-button {
        width: 30px;
       }
       
    ::-webkit-scrollbar-track {
        background: #bbb; 
        border-radius: 7px;
    }
    ::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 7px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}
/*end region*/


/*region PRICE*/
#price {
    padding: 40px;
    background-color: white;
}
/*end region*/


/*region SCHOOL*/
#study {
    background-color: #f1f1f1;
    border-bottom: 1px solid lightgray;

    .courses {
        .course {
            height: 100%;
            padding: 15px;
            display: block;
            transition: box-shadow 0.2s ease;
            text-align: center;
            text-decoration: none;
            color: black;
            background: white;
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 15px rgba(0,0,0,0.2);
            }

            .course__logo {
                margin-bottom: 5px;
                img {
                    height: 52px;
                    width: 100px;
                }
            }
            .course__caption {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: 1.5em;
                line-height: 1.08;
            }
            .course__text {
                font-size: 1.1em;
                font-weight: 300;
                line-height: 1.2;
                margin-top: 5px;
            }
        }
    }
}
/*end region*/


/*region GALERY*/
#gallery {
    .columns {
        column-width: 250px;
        column-gap: 0px;
        width: 90%;
        margin: 40px auto;

        &:hover figure:not(:hover) {
            opacity: 0.4;
        }

        figure {
            background: #fefefe;
            padding: 15px 15px 10px 15px;
            transition: opacity .4s ease-in-out;
            display: inline-block;
            margin: 0;

            img {
                width: 100%;
                //height: auto;
                min-height: 200px;
                border-bottom: 1px solid #ccc;
                padding-bottom: 15px;
                margin-bottom: 5px;
            }
        }
    }
}
/*end region*/


/*region faceNicobaggio*/
#faceNicobaggio {
    @media (min-width: 1200px) {
        max-height: 90vh;
    }
    background-color: black;
    color: white;
    .about {
        height: 100%;
        padding: 40px 40px;
        a {
            color: white;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}
/*end region*/


/*region CONTACTS*/
#contacts {
    background-color: white;
    .contacts__info {
        margin-top: 20px;
    }

    .icon {
        background: white;
        border: 2px solid #444;
        border-radius: 22px;
        cursor: pointer;
        padding: 5px;
        &:hover{
            filter: invert(100%);
            -webkit-filter: invert(100%);
        }
        & .contacts-vk {
            background-size: cover;
            margin-top: 3px;
            height: 27px;
            width: 30px;
            background-image: url('../../icons/vk.svg');
        }
        & .contacts-inst {
            background-size: 100% 100%;
            height: 30px;
            width: 30px;
            background-image: url('../../icons/instagram.svg');
        }
    }
}
/*end region*/
